# App Configuration
PORT=3000
NODE_ENV=development

# Vercel Postgres Configuration (Managed by Vercel in production)
POSTGRES_URL=
POSTGRES_PRISMA_URL=
POSTGRES_URL_NON_POOLING=
POSTGRES_USER=
POSTGRES_HOST=
POSTGRES_PASSWORD=
POSTGRES_DATABASE=
